/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
} */

.container {
    display: flex;
    width: 100%;
}

.email-list {
    width: 30%;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    /* background-color: #f9f9f9; */
    /* height: 700px; */
    overflow: scroll;
    height: 80vh;
}

.email-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.email-item:hover {
    background-color: #e9e9e9;
}

.email-subject {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.email-recipient {
    font-size: 12px;
    color: #666;
}

.email-content {
    width: 70%;
    padding: 20px;
    /* overflow: scroll; */
    height: 80vh;
}

/* .email-details {
    display: none;
} */

.email-details {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    margin: auto;
    
}
